<nav class="navbar navbar_ai sticky-top navbar-expand-lg navbar-dark ">
    <div>
        <a class="logo" id="logo" href="index.html">
            Tatvaraj Farm
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" style="font-size: 18px;">
            <li class="nav-item active">
                <a class="nav-link" href="#hero">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#About">About </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#banquet">Banquet </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Features </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Gallery </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Book a Tour </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Contact </a>
            </li>
        </ul>
    </div>
</nav>